.button_top {
  padding: 20px;
  background-color: #DD2242;
  color: #FFF;
  display: flex;
  width: 180px;
  padding: 16px 24px;
  justify-content: center;
  align-items: center;
  gap: 24px;
  border-radius: 32px;
  font-family: 'DM Sans', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  border: 0;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}
.button_top:hover {
  background-color: #FFF;
  color: #DD2242;
  transition: all 0.5s ease;
}
.h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 120px;
  font-weight: 700;
  line-height: 130px;
  font-style: normal;
  text-transform: uppercase;
  color: #FFF;
}
.h2 {
  color: #010A20;
  text-align: center;
  font-family: 'DM Sans', sans-serif;
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}
.h3 {
  color: #FFF;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: 'DM Sans', sans-serif;
  font-size: 42px;
  font-style: normal;
  font-weight: 700;
  line-height: 50px;
  width: 480px;
}
.h4 {
  color: #FFFFFF;
  font-family: 'DM Sans', sans-serif;
  font-size: 26px;
  font-weight: 900;
  line-height: 41px;
}
.p {
  color: #E0E0E0;
  text-align: center;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: 'DM Sans', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  /* 155.556% */
  letter-spacing: 0.5px;
}
* {
  margin: 0;
  padding: 0;
}
a {
  color: inherit;
  text-decoration: none;
}
.screen-1 {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4)), url(../img/page1.webp);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  min-height: 1080px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}
.screen-1 header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90.625%;
  margin: 28px auto 0 auto;
}
.screen-1 header .header__logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.screen-1 header .header__logo .header__logo_text {
  color: #FFF;
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 900;
  line-height: 80.5%;
  letter-spacing: 0.315px;
  text-transform: uppercase;
  max-width: 128px;
}
.screen-1 header .navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 78.3%;
}
.screen-1 header .navigation .navigation__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 65px;
  font-family: 'DM Sans', sans-serif;
  font-weight: 700;
  padding: 0;
}
.screen-1 header .navigation .navigation__menu li {
  list-style-type: none;
  margin: 0;
}
.screen-1 header .navigation .navigation__menu li a {
  text-decoration: none;
  color: white;
}
.screen-1 header .navigation .navigation__icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 82px;
}
.screen-1 .screen-1__article {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  margin: 190px auto 0 279px;
  width: 627px;
}
.screen-1 .screen-1__article h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 120px;
  font-weight: 700;
  line-height: 130px;
  font-style: normal;
  text-transform: uppercase;
  color: #FFF;
  letter-spacing: -1px;
}
.screen-1 .screen-1__article .article__button {
  width: 271.141px;
  height: 82px;
  padding: 20px;
  flex-shrink: 0;
  border-radius: 211px;
  border: 0;
  background: #DD2242;
  color: rgba(255, 255, 255, 0.8);
  text-align: center;
  font-family: 'DM Sans', sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 150%;
  margin-top: 21px;
}
.screen-1 .screen-1__article .article__button:hover {
  background-color: rgba(255, 255, 255, 0.8);
  color: #DD2242;
  transition: all 0.5s ease;
}
.screen-1 .hero {
  display: flex;
  align-items: flex-end;
  justify-content: end;
  margin-top: 197px;
  width: 100%;
}
.screen-1 .hero .hero__inf {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 58%;
  border: 1px solid #000;
  background: rgba(0, 0, 0, 0.6);
  padding-left: 70px;
  padding-right: 70px;
  padding-top: 60px;
  padding-bottom: 63px;
  flex-wrap: wrap;
}
.screen-1 .hero .hero__inf .Indonesia {
  max-width: 210px;
  min-height: 87px;
}
.screen-1 .hero .hero__inf .Indonesia h4 {
  color: #FFFFFF;
  font-family: 'DM Sans', sans-serif;
  font-size: 26px;
  font-weight: 900;
  line-height: 41px;
}
.screen-1 .hero .hero__inf .Indonesia p {
  color: #939393;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: 'DM Sans', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.5px;
}
.screen-1 .hero video {
  width: 417px;
  height: 254px;
}
.articles {
  background: #010A20;
  background-size: cover;
  background-position: center center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.articles .articles__inf {
  width: 1250px;
  display: flex;
  flex-direction: column;
  gap: 192px;
  justify-content: center;
  align-items: center;
  margin-top: 207px;
  margin-bottom: 307px;
}
.articles .articles__inf .articles__inf_card {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 131px;
  flex-wrap: wrap;
}
.articles .articles__inf .articles__inf_card .card__img {
  width: 630px;
  height: 460px;
  flex-shrink: 0;
}
.articles .articles__inf .articles__inf_card .articles__inf_card1 {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.articles .articles__inf .articles__inf_card .articles__inf_card1 h3 {
  color: #FFF;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: 'DM Sans', sans-serif;
  font-size: 42px;
  font-style: normal;
  font-weight: 700;
  line-height: 50px;
  width: 480px;
}
.articles .articles__inf .articles__inf_card .articles__inf_card1 p {
  font-family: 'DM Sans', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.18px;
  color: #E0E0E0;
  width: 410px;
}
.articles .articles__inf .articles__inf_card .articles__inf_card1 .button {
  padding: 20px;
  background-color: #DD2242;
  color: #FFF;
  display: flex;
  width: 180px;
  padding: 16px 24px;
  justify-content: center;
  align-items: center;
  gap: 24px;
  border-radius: 32px;
  font-family: 'DM Sans', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  border: 0;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}
.articles .articles__inf .articles__inf_card .articles__inf_card1 .button:hover {
  background-color: #FFF;
  color: #DD2242;
  transition: all 0.5s ease;
}
#card_order {
  order: -1;
}
.explore-and-numbers {
  background: url(../img/mountain.webp);
  background-repeat: no-repeat;
  height: 2208px;
  background-size: cover;
  background-position: center center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.explore-and-numbers .slider {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-top: 100px;
}
.explore-and-numbers .slider h2 {
  color: #010A20;
  text-align: center;
  font-family: 'DM Sans', sans-serif;
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}
.explore-and-numbers .slider .swiper {
  width: 600px;
  height: 100%;
}
.explore-and-numbers .slider .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}
.explore-and-numbers .slider .swiper-slide img {
  display: block;
  width: 405px;
  height: 257px;
  object-fit: cover;
}
.explore-and-numbers .explore-and-numbers__block {
  opacity: 0.9;
  background: #020C21;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 200px auto;
}
.explore-and-numbers .explore-and-numbers__block .explore-and-numbers__inf {
  max-width: 1280px;
  width: 100%;
  margin: 200px 72px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.explore-and-numbers .explore-and-numbers__block .explore-and-numbers__inf h3 {
  color: #FFF;
  text-align: center;
  font-family: 'DM Sans', sans-serif;
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}
.explore-and-numbers .explore-and-numbers__block .explore-and-numbers__inf > p {
  color: #E0E0E0;
  text-align: center;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: 'DM Sans', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  /* 155.556% */
  letter-spacing: 0.5px;
  width: 484px;
  padding-top: 37px;
  padding-bottom: 39px;
}
.explore-and-numbers .explore-and-numbers__block .explore-and-numbers__inf .explore-and-numbers__numbers {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 20px;
}
.explore-and-numbers .explore-and-numbers__block .explore-and-numbers__inf .explore-and-numbers__numbers .explore-and-numbers__numbers_card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}
.explore-and-numbers .explore-and-numbers__block .explore-and-numbers__inf .explore-and-numbers__numbers .explore-and-numbers__numbers_card span {
  color: #DD2242;
  text-align: center;
  font-family: 'DM Sans', sans-serif;
  font-size: 42px;
  font-style: normal;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: 0.386px;
  margin-bottom: 19px;
}
.explore-and-numbers .explore-and-numbers__block .explore-and-numbers__inf .explore-and-numbers__numbers .explore-and-numbers__numbers_card p {
  color: #E0E0E0;
  text-align: center;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: 'DM Sans', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  /* 155.556% */
  letter-spacing: 0.5px;
  max-width: 380px;
}
.map {
  background: url(../img/Mask\ Group-1.svg), url(../img/Mask\ Group.svg);
  height: 820px;
  background-size: cover;
  background-position: center center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 34px;
}
.map h3 {
  color: #FFF;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: 'DM Sans', sans-serif;
  font-size: 42px;
  font-style: normal;
  font-weight: 700;
  line-height: 50px;
  width: 480px;
  color: #000;
}
.map p {
  color: #E0E0E0;
  text-align: center;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: 'DM Sans', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  /* 155.556% */
  letter-spacing: 0.5px;
  color: #6F7787;
  width: 470px;
}
.map .button {
  padding: 20px;
  background-color: #DD2242;
  color: #FFF;
  display: flex;
  width: 180px;
  padding: 16px 24px;
  justify-content: center;
  align-items: center;
  gap: 24px;
  border-radius: 32px;
  font-family: 'DM Sans', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  border: 0;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}
.map .button:hover {
  background-color: #FFF;
  color: #DD2242;
  transition: all 0.5s ease;
}
.video {
  background: url(../img/hugo-matilla-EFuCATqfblI-unsplash\ 1.webp), url(../img/Rectangle\ 1272.webp);
  min-height: 1476px;
  background-size: cover;
  background-position: center center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 100px;
}
.video h3 {
  color: #FFF;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: 'DM Sans', sans-serif;
  font-size: 42px;
  font-style: normal;
  font-weight: 700;
  line-height: 50px;
  width: 480px;
  max-width: 1050px;
  width: 100%;
  text-align: center;
}
.video video {
  max-width: 1056px;
  width: 100%;
  border-radius: 10px;
}
.video .video__inf {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 75px;
  flex-wrap: wrap;
}
.video .video__inf .video__inf_card {
  display: flex;
  justify-content: center;
  gap: 42px;
}
.video .video__inf .video__inf_card .card__video {
  width: 233px;
  height: 151px;
}
.video .video__inf .video__inf_card .card__text {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.video .video__inf .video__inf_card .card__text h5 {
  color: #FFF;
  font-family: 'DM Sans', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}
.video .video__inf .video__inf_card .card__text p {
  color: #E0E0E0;
  text-align: center;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: 'DM Sans', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  /* 155.556% */
  letter-spacing: 0.5px;
  max-width: 335px;
  text-align: start;
}
.photo-gallery {
  background: #FFF;
  background-size: cover;
  background-position: center center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: auto;
  margin-top: 177px;
}
.photo-gallery .photo-gallery__top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 70px;
}
.photo-gallery .photo-gallery__top h2 {
  color: #010A20;
  text-align: center;
  font-family: 'DM Sans', sans-serif;
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}
.photo-gallery .photo-gallery__top p {
  color: #E0E0E0;
  text-align: center;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: 'DM Sans', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  /* 155.556% */
  letter-spacing: 0.5px;
  color: #6F7787;
  width: 511px;
}
.photo-gallery .photo-gallery__top .photo-gallery__top_gallery {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
  max-width: 1170px;
  width: 100%;
  margin: auto;
}
.photo-gallery .photo-gallery__top .photo-gallery__top_gallery .block-1,
.photo-gallery .photo-gallery__top .photo-gallery__top_gallery .block-2,
.photo-gallery .photo-gallery__top .photo-gallery__top_gallery .block-3 {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.photo-gallery .photo-gallery__top .photo-gallery__top_gallery-modile {
  display: none;
}
.getting-there {
  background: #DCE8F2;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-size: cover;
  background-position: center center;
  padding-top: 120px;
  padding-bottom: 120px;
  margin-top: 227px;
}
.getting-there .getting-there__top {
  display: flex;
  flex-direction: column;
  max-width: 1150px;
  width: 100%;
  margin: auto;
}
.getting-there .getting-there__top h2 {
  color: #010A20;
  text-align: center;
  font-family: 'DM Sans', sans-serif;
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}
.getting-there .getting-there__top .getting-there__top__table {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 45px;
}
.getting-there .getting-there__top .getting-there__top__table .inf {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  gap: 45px;
  width: 100%;
}
.getting-there .getting-there__top .getting-there__top__table .inf .inf__circle {
  width: 60px;
  height: 60px;
  border-radius: 30px;
  background-color: #DD2242;
  display: flex;
  align-items: center;
  justify-content: center;
}
.getting-there .getting-there__top .getting-there__top__table .inf .inf__circle p {
  color: #FFF;
  text-align: center;
  font-family: 'DM Sans', sans-serif;
  font-size: 26.409px;
  font-style: normal;
  font-weight: 500;
  line-height: 38.146px;
  max-width: 1040px;
}
.getting-there .getting-there__top .getting-there__top__table .inf .inf__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 28px;
  max-width: 1040px;
  width: 100%;
}
.getting-there .getting-there__top .getting-there__top__table .inf .inf__text h4 {
  color: #FFFFFF;
  font-family: 'DM Sans', sans-serif;
  font-size: 26px;
  font-weight: 900;
  line-height: 41px;
  color: #010A20;
}
.getting-there .getting-there__top .getting-there__top__table .inf .inf__text p {
  color: #E0E0E0;
  text-align: center;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: 'DM Sans', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  /* 155.556% */
  letter-spacing: 0.5px;
  color: rgba(21, 20, 57, 0.4);
  text-align: start;
}
.getting-there .getting-there__top .getting-there__top__table .inf .inf__text .button {
  padding: 20px;
  background-color: #DD2242;
  color: #FFF;
  display: flex;
  width: 180px;
  padding: 16px 24px;
  justify-content: center;
  align-items: center;
  gap: 24px;
  border-radius: 32px;
  font-family: 'DM Sans', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  border: 0;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}
.getting-there .getting-there__top .getting-there__top__table .inf .inf__text .button:hover {
  background-color: #FFF;
  color: #DD2242;
  transition: all 0.5s ease;
}
.getting-there .getting-there__top .getting-there__top__table .inf .inf__text .inf__photo {
  display: flex;
  align-items: center;
  gap: 45px;
}
.getting-there .getting-there__top .getting-there__top__table .inf .inf__text .inf__photo .inf__photo_moto {
  width: 250px;
  height: 165px;
  flex-shrink: 1;
}
.getting-there .getting-there__top .getting-there__top__table .inf .inf__text .inf__photo .inf__photo_text {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 450px;
}
.getting-there .getting-there__top .getting-there__top__table .inf .inf__text .inf__photo .inf__photo_text h4 {
  color: #FFFFFF;
  font-family: 'DM Sans', sans-serif;
  font-size: 26px;
  font-weight: 900;
  line-height: 41px;
  color: #010A20;
}
.getting-there .getting-there__top .getting-there__top__table .inf .inf__text .inf__photo .inf__photo_text p {
  color: #E0E0E0;
  text-align: center;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: 'DM Sans', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  /* 155.556% */
  letter-spacing: 0.5px;
  color: rgba(21, 20, 57, 0.4);
  text-align: start;
}
footer {
  background: #010A20;
  padding-top: 40px;
  padding-bottom: 32px;
  background-size: cover;
  background-position: center center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 100%;
}
footer .footer__block {
  width: 88%;
  display: flex;
  gap: 124px;
}
footer .footer__block img {
  width: 51px;
  height: 51px;
}
footer .footer__block .footer__logo {
  display: flex;
  align-items: flex-end;
}
footer .footer__block .footer__logo .footer__logo_text {
  display: flex;
  flex-direction: column;
  width: 128px;
  color: #DD2242;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: 'Roboto', sans-serif;
  font-size: 23.961px;
  font-style: normal;
  font-weight: 900;
  line-height: 90.5%;
  letter-spacing: 0.315px;
  text-transform: uppercase;
}
footer .footer__block .footer__logo .footer__logo_text .Indonesia {
  color: #FFF;
}
footer .footer__block .navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1400px;
  flex-wrap: wrap;
}
footer .footer__block .navigation .navigation__menu {
  justify-content: space-between;
  align-items: center;
  gap: 36px;
  display: flex;
  font-family: 'DM Sans', sans-serif;
  font-weight: 700;
  font-size: 18px;
  max-width: 360px;
  padding: 0;
  flex-wrap: wrap;
}
footer .footer__block .navigation .navigation__menu li {
  list-style-type: none;
  margin: 0;
}
footer .footer__block .navigation .navigation__menu li a {
  text-decoration: none;
  color: white;
}
footer .footer__block .navigation .navigation__media {
  display: flex;
  gap: 22px;
  align-items: center;
}
footer .footer__block .navigation .navigation__media a img {
  width: 24px;
  height: 24px;
}
footer .footer__block .navigation .navigation__media div {
  display: flex;
  gap: 22px;
}
footer .footer__block .navigation .navigation__media .footer__block_text {
  color: #FFF;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: 'DM Sans', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0.5px;
  margin-left: 28px;
}
@media (min-width: 768px) and (max-width: 1160px) {
  .screen-1 header .navigation .navigation__menu {
    justify-content: center;
    gap: 20px;
  }
  .screen-1 .screen-1__article {
    margin-left: auto;
    margin-right: auto;
    width: 427px;
  }
  .screen-1 .screen-1__article h1 {
    font-size: 80px;
    line-height: 80px;
  }
  .screen-1 .screen-1__article .hero {
    flex-direction: column;
    width: 100%;
  }
}
@media (max-width: 768px) {
  .screen-1 header {
    margin-top: 48px;
  }
  .screen-1 header .header__logo .header__logo_text {
    font-size: 20px;
    max-width: 100px;
  }
  .screen-1 header .header__logo img {
    width: 35px;
    height: 35px;
  }
  .screen-1 header .navigation {
    justify-content: end;
  }
  .screen-1 header .navigation .navigation__menu {
    display: none;
  }
  .screen-1 .screen-1__article {
    justify-content: center;
    gap: 8px;
    width: 100%;
  }
  .screen-1 .screen-1__article h1 {
    font-size: 58px;
    width: 314px;
    line-height: 63px;
  }
  .screen-1 .screen-1__article .article__button {
    width: 315px;
    height: 59px;
    margin: auto;
    padding: 0px;
  }
  .screen-1 .hero {
    flex-direction: column;
    width: 100%;
    justify-content: center;
  }
  .screen-1 .hero .hero__inf {
    flex-wrap: nowrap;
    flex-direction: column;
    margin: auto;
    justify-content: start;
    width: 276px;
  }
  .screen-1 .hero video {
    margin: auto;
  }
  .screen-1 .screen-1__article {
    margin-left: auto;
    margin-right: auto;
  }
  .screen-1 .screen-1__article h1 {
    margin-left: auto;
    margin-right: auto;
  }
  .articles .articles__inf {
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    gap: 56px;
  }
  .articles .articles__inf .articles__inf_card {
    gap: 42px;
  }
  .articles .articles__inf .articles__inf_card .card__img {
    width: 417px;
    height: 270px;
  }
  .articles .articles__inf .articles__inf_card .articles__inf_card1 {
    width: 417px;
  }
  .articles .articles__inf .articles__inf_card .articles__inf_card1 h3 {
    font-size: 40px;
    width: 417px;
  }
  .articles .articles__inf .articles__inf_card .articles__inf_card1 .button {
    width: 417px;
  }
  .articles #card_order {
    order: 0;
  }
  .explore-and-numbers {
    justify-content: end;
  }
  .explore-and-numbers .slider {
    display: none;
  }
  .explore-and-numbers .explore-and-numbers__block {
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .explore-and-numbers .explore-and-numbers__block .explore-and-numbers__inf h3 {
    width: 100%;
  }
  .explore-and-numbers .explore-and-numbers__block .explore-and-numbers__inf p {
    width: 90%;
  }
  .explore-and-numbers .explore-and-numbers__block .explore-and-numbers__inf .explore-and-numbers__numbers {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  .map h3 {
    width: 90%;
    text-align: center;
  }
  .map p {
    width: 90%;
    text-align: center;
  }
  .photo-gallery .photo-gallery__top {
    gap: 20px;
  }
  .photo-gallery .photo-gallery__top p {
    width: 100%;
    margin: auto 70px;
  }
  .getting-there .getting-there__top .getting-there__top__table .inf {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  .getting-there .getting-there__top .getting-there__top__table .inf .inf__text h4 {
    margin: auto;
  }
  .getting-there .getting-there__top .getting-there__top__table .inf .inf__text p {
    margin: auto 30px;
  }
  .getting-there .getting-there__top .getting-there__top__table .inf .inf__text .button {
    margin: auto;
  }
  .getting-there .getting-there__top .getting-there__top__table .inf #inf__text1 .inf__photo {
    flex-wrap: wrap;
    margin: auto;
    gap: 10px;
  }
  .getting-there .getting-there__top .getting-there__top__table .inf #inf__text1 .inf__photo .inf__photo_moto {
    margin: auto;
  }
  footer .footer__block {
    gap: 10px;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    align-items: center;
  }
  footer .footer__block .navigation {
    gap: 20px;
    justify-content: center;
    width: 100%;
  }
  footer .footer__block .navigation .navigation__menu {
    gap: 20px;
    flex-wrap: wrap;
  }
  footer .footer__block .navigation .navigation__media {
    gap: 20;
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media (max-width: 425px) {
  .screen-1 .hero {
    width: 100%;
  }
  .screen-1 .hero .hero__inf {
    width: 174px;
  }
  .screen-1 .hero .hero__inf .Indonesia p {
    font-size: 16px;
  }
  .screen-1 .hero video {
    width: 314px;
    height: 191px;
  }
  .articles .articles__inf .articles__inf_card .card__img {
    width: 314px;
    height: 232px;
  }
  .articles .articles__inf .articles__inf_card .articles__inf_card1 {
    width: 100%;
  }
  .articles .articles__inf .articles__inf_card .articles__inf_card1 h3 {
    width: 314px;
    font-size: 40px;
    margin: auto;
  }
  .articles .articles__inf .articles__inf_card .articles__inf_card1 p {
    margin: auto;
    width: 314px;
    font-size: 16px;
  }
  .articles .articles__inf .articles__inf_card .articles__inf_card1 .button {
    width: 314px;
    margin: auto;
  }
  .video .video__inf .video__inf_card {
    flex-wrap: wrap;
  }
  .video .video__inf .video__inf_card .card__video {
    width: 314px;
    height: 176px;
  }
  .photo-gallery .photo-gallery__top {
    width: 100%;
  }
  .photo-gallery .photo-gallery__top .h2 {
    width: 100%;
    font-size: 40px;
  }
  .photo-gallery .photo-gallery__top p {
    width: 314px;
  }
  .photo-gallery .photo-gallery__top .photo-gallery__top_gallery {
    display: none;
  }
  .photo-gallery .photo-gallery__top .photo-gallery__top_gallery-modile {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin: auto;
    height: 485px;
    flex-wrap: wrap;
    width: 100%;
  }
  footer .footer__block {
    flex-direction: column;
    width: 100%;
    align-items: center;
  }
  footer .footer__block .navigation {
    flex-wrap: nowrap;
    flex-direction: column;
    width: 100%;
    gap: 20px;
  }
  footer .footer__block .navigation .navigation__menu {
    flex-direction: column;
  }
  footer .footer__block .navigation .navigation__media {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
